### NOTE
Worker to patient ratio should be approximately 1:2808 in order to not overwork staff members. So 1 healthcare worker can reasonably serve 2808 standard patient needs a year. Not the entire population living nearby a facility would need healthcare services, but we assume at least more than half would seek services for a variety of problems

### Loading facilities information:

In [4]:
import pandas as pd

facilities = pd.DataFrame({
    'facility': ['A', 'B', 'C', 'D', 'E'],
    'zip_code': [98007, 98290, 98065, 98801, 98104],
    'staff_count': [21, 52, 43, 9, 64]
})
facilities

  facility  zip_code  staff_count
0        A     98007           21
1        B     98290           52
2        C     98065           43
3        D     98801            9
4        E     98104           64

### Getting population data
Population data: https://data.world/lukewhyte/us-population-by-zip-code-2010-2016

In [5]:
import pandas as pd

population = pd.read_csv('data/pop-by-zip-code.csv')
population

,zip_code,y-2016,y-2015,y-2014,y-2013,y-2012,y-2011,y-2010,aggregate
0,601,17800,17982,18088,18450,18544,18533,18570,127967
1,602,39716,40260,40859,41302,41640,41930,41520,287227
2,603,51565,52408,53162,53683,54540,54475,54689,374522
3,606,6320,6331,6415,6591,6593,6386,6615,45251
4,610,27976,28328,28805,28963,29141,29111,29016,201340
5,612,63884,64816,66251,68055,69017,70541,67010,469574
6,616,10321,10707,10466,10183,10750,10617,11017,74061
7,617,24648,24793,24917,24879,24733,24458,24597,173025
8,622,7385,7425,6589,6165,5923,5419,7853,46759
9,623,42711,42955,44117,44704,44943,45314,43061,307805
10,624,23945,24628,24902,25340,26016,26439,26241,177511
11,627,33481,33949,34438,34806,35085,35260,35159,242178
12,631,1689,1664,1847,1747,1800,1836,1852,12435
13,637,24013,24398,24799,24996,25312,25511,25287,174316
14,638,17795,18084,18365,18742,18997,19166,18941,130090
15,641,28925,29516,30183,30401,30771,30987,31191,211974
16,646,38292,38396,38305,38303,38179,37942,38199,267616
17,647,5711,5740,5245,5640,5869,5605,6172,39982
18,650,14569,14738,14679,14969,15120,15359,14998,104432
19,652,3893,3800,3831,3461,3244,3378,4715,26322
20,653,12125,12514,13427,13461,13502,14048,13307,92384
21,656,19996,20414,20839,21172,21438,21684,21481,147024
22,659,41327,41578,41830,41932,41945,41843,41953,292408
23,660,16678,16845,17023,17151,17217,17239,17250,119403
24,662,41986,42499,43101,43535,43598,43600,43282,301601
25,664,15693,15974,16298,16508,16665,16907,16784,114829
26,667,24492,24968,25510,25797,26102,26300,25968,179137
27,669,27063,27703,28442,28984,29569,30210,29744,201715
28,670,9087,9333,9478,9689,9814,9867,9807,67075
29,674,41545,42358,43240,43848,44365,44838,44457,304651
...,...,...,...,...,...,...,...,...,...
33090,99786,295,280,329,290,240,260,259,1953
33091,99788,120,101,85,65,59,50,69,549
33092,99789,347,345,371,405,487,564,402,2921
33093,99790,7,20,20,43,58,62,20,230
33094,99791,167,159,219,276,290,325,237,1673
33095,99801,30205,30262,29855,29639,29356,29056,29164,207537
33096,99820,459,408,425,457,427,427,479,3082
33097,99824,2299,2249,2328,2242,2263,2188,2111,15680
33098,99825,70,100,109,91,67,64,120,621
33099,99826,472,496,529,538,511,454,442,3442
33100,99827,2592,2626,2623,2656,2629,2632,2602,18360
33101,99829,774,821,818,775,760,774,777,5499
33102,99830,644,628,592,487,413,470,561,3795
33103,99832,96,87,62,64,110,113,104,636
33104,99833,3196,3221,3212,3277,3380,3278,3202,22766
33105,99835,8921,8943,8957,8945,8909,8879,8880,62434
33106,99836,42,31,30,42,29,83,52,309
33107,99840,1014,999,996,1080,1050,1105,968,7212
33108,99841,172,150,117,106,138,77,133,893
33109,99901,13745,13717,13694,13651,13577,13458,13508,95350
33110,99903,16,22,29,30,7,32,31,167
33111,99918,193,162,141,130,102,75,231,1034
33112,99919,718,637,603,528,558,534,531,4109
33113,99921,1800,1950,2123,2104,2031,2100,1920,14028
33114,99922,291,277,356,364,411,431,384,2514
33115,99923,0,13,12,81,77,116,87,386
33116,99925,908,826,728,668,673,689,819,5311
33117,99926,1667,1711,1622,1630,1624,1488,1460,11202
33118,99927,81,123,131,111,75,67,94,682
33119,99929,2385,2365,2354,2341,2361,2321,2338,16465

### Getting population of given zipcodes by merging datasets

In [6]:
facilities = pd.merge(facilities, population, on='zip_code')
facilities

,facility,zip_code,staff_count,y-2016,y-2015,y-2014,y-2013,y-2012,y-2011,y-2010,aggregate
0,A,98007,21,27050,26269,25521,24926,25434,25231,24889,179320
1,B,98290,52,34218,33629,32942,33018,33228,32913,32714,232662
2,C,98065,43,14642,13977,13202,12690,12502,12007,12699,91719
3,D,98801,9,42670,42041,41526,41416,40522,40383,40977,289535
4,E,98104,64,13989,13690,13177,12871,12630,12191,13095,91643

### Distributing staff acording to population of A & B (By percentage)

In [18]:
total_staff_ab = sum(facilities['staff_count'][(facilities['facility']=='A')|(facilities['facility']=='B')])
total_population_ab = sum(facilities['y-2016'][(facilities['facility']=='A')|(facilities['facility']=='B')])
staff_a_optimum = int(total_staff_ab * (facilities['y-2016'][(facilities['facility']=='A')] / total_population_ab))
staff_b_optimum = total_staff_ab - staff_a_optimum
staff_a_optimum, staff_b_optimum

(32, 41)

## Omtimization for all faculties (Extra work)

In [20]:
total_staff = sum(facilities['staff_count'])
total_population = sum(facilities['y-2016'])
facilities['optimum_staff2016'] = total_staff * (facilities['y-2016'] / total_population)
facilities = facilities.round()
facilities

,facility,zip_code,staff_count,y-2016,y-2015,y-2014,y-2013,y-2012,y-2011,y-2010,aggregate,optimum_staff2016,latitude,longitude
0,A,98007,21,27050,26269,25521,24926,25434,25231,24889,179320,39.0,,
1,B,98290,52,34218,33629,32942,33018,33228,32913,32714,232662,49.0,,
2,C,98065,43,14642,13977,13202,12690,12502,12007,12699,91719,21.0,,
3,D,98801,9,42670,42041,41526,41416,40522,40383,40977,289535,61.0,,
4,E,98104,64,13989,13690,13177,12871,12630,12191,13095,91643,20.0,,

In [12]:
sum(facilities['optimum_staff2016'])

190.0

In [13]:
facilities['optimum_staff2016'][facilities['facility'] == 'A'] -=1
facilities

d:\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,facility,zip_code,staff_count,y-2016,y-2015,y-2014,y-2013,y-2012,y-2011,y-2010,aggregate,optimum_staff2016
0,A,98007,21,27050,26269,25521,24926,25434,25231,24889,179320,38.0
1,B,98290,52,34218,33629,32942,33018,33228,32913,32714,232662,49.0
2,C,98065,43,14642,13977,13202,12690,12502,12007,12699,91719,21.0
3,D,98801,9,42670,42041,41526,41416,40522,40383,40977,289535,61.0
4,E,98104,64,13989,13690,13177,12871,12630,12191,13095,91643,20.0

### Distance

In [14]:
import requests
import os

apikey = os.environ['GOOGLEMAPS_APIKEY']

response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address=98007&key='+apikey)
resp_json_payload = response.json()
# resp_json_payload['results'][0]['geometry']['location'] error because api limit exceeded
response.json()

{'results': [{'address_components': [{'long_name': '98007',
     'short_name': '98007',
     'types': ['postal_code']},
    {'long_name': 'Bellevue',
     'short_name': 'Bellevue',
     'types': ['locality', 'political']},
    {'long_name': 'King County',
     'short_name': 'King County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'Washington',
     'short_name': 'WA',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']}],
   'formatted_address': 'Bellevue, WA 98007, USA',
   'geometry': {'bounds': {'northeast': {'lat': 47.66064300000001,
      'lng': -122.121657},
     'southwest': {'lat': 47.578809, 'lng': -122.155431}},
    'location': {'lat': 47.6105427, 'lng': -122.142426},
    'location_type': 'APPROXIMATE',
    'viewport': {'northeast': {'lat': 47.66064300000001, 'lng': -122.121657},
     'southwest': {'lat': 47.578809, 'lng': -122.155431}}},
   'place_id': 'ChIJwQrVvUxskFQRzBUrJFEogUE',
   'types': ['postal_code']}],
 'status': 'OK'}

In [15]:
facilities['latitude'] = ''
facilities['longitude'] = ''